version: '3.8'

services:
  rabbitmq:
    image: rabbitmq:3-management
    environment:
      RABBITMQ_DEFAULT_USER: pw1tt
      RABBITMQ_DEFAULT_PASS: securepassword
    ports:
      - "5672:5672"
      - "15672:15672"
